<h1>Employee Details</h1>
<div>
    <table border="2">
        <thead>
            <th>Id</th>
            <th>Full Name</th>
            <th>Department</th>
            <th>Phone</th>
            <th>Address</th>
        </thead>
        <tbody>
            <tr >
                <td>{{employee.id}}</td>
                <td>{{employee.fullName}}</td>
                <td>{{employee.department}}</td>
                <td>{{employee.phone}}</td>
                <td>{{employee.address}}</td>
            </tr>
        </tbody>
    </table>
</div>

<p>
    <a (click)="onBack()">Back</a>
</p>
